:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: #0f0f0f;
  background-color: #f6f6f6; */

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button, input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* color: #0f0f0f;
  background-color: #ffffff; */
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input:focus {
  border-color: #396cd8;
}

input {
  width: 3rem
}

button, input {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

img {
  height: 60vh;
}

.image-container {
  position: relative;
  width: fit-content;
}
/* .image-container .grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-overlay > * {
  background: orange;
  width: 100%;
}
.grid-overlay > *::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (21/29.7));
} */

/* .grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(210mm), 1fr));
  grid-auto-rows: 297mm; 
  pointer-events: none;
}

.grid-overlay > * {
  background-color: rgba(255, 0, 0, 0.331);
  border: 1px dashed rgba(0, 0, 0, 0.5)
} */

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  pointer-events: none; /* Allows clicking on the image underneath */
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-overlay > * {
  /* background: rgba(0, 0, 0, 0.1);  */
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}